* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0f2f5;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    box-sizing: border-box;
}



.container {
    text-align: left;
    height: 85vh;
    padding: 1rem;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.logo{
    display: flex;
    text-align: left;
}

.logo img {
    display: block;
    margin: auto;
    width: 200px;
}

.connect-friends {
    text-align: center;
    font-size: 1.2rem;
    line-height: 28px;
}

.form * {
    display: block;
}

.form {
    max-width: 400px;
    padding: 1rem;
    margin: 1rem auto;
    background-color: #fff;
    border-radius: 7px;
    box-shadow: 1px 1px 10px rgba(117, 116, 116, .219);

}

.form input[type="text"],
.form input[type="password"],
.form input[type="submit"] {
    padding: 1rem;
    width: 100%;
    margin-bottom: 10px;
    outline-color: #1877f2;
    border: solid thin #dddfe2;
    border-radius: 6px;
    font-family: inherit;
    font-size: 17px;
    text-align: left;
}

.form input::placeholder {
    color: #a6a8a8;
}

.form input[type="submit"] {
    background-color: hsl(214, 89%, 52%);
    text-align: center;
    padding: .9rem .5rem;
    font-weight: 600;
    font-size: 20px;
    color: #fff;
    margin-top: 15px;
    cursor: pointer;
}

.form span {
    text-align: center;
    font-size: 14px;
    margin-top: 15px;
}

.form span a {
    color: #247df1;
    text-decoration: none;
}

.border {
    width: 90%;
    height: 1px;
    background-color: #dadde1;
    margin: 20px auto;
}

.form button {
    width: 50%;
    margin: auto;
    background-color: #42b72a;
    padding: .9rem .3rem;
    border-radius: 6px;
    outline: none;
    border: none;
    cursor: pointer;
}

.form button a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 17px;
}

.create-page {
    text-align: center;
    margin-top: 1.5rem;
    font-size: 15px;
}

.create-page > a {
    color: #222;
    font-weight: 600;
    text-decoration: none;
}

footer {
    text-align: left;
    background-color: #ffffff;
    padding: 20px 0;
}

.footer-contents {
    width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

.languages {
    color: #737373;
    font-size: 13.5px;
    margin-bottom: 8px;
}

.divider {
    margin: 10px 0;
    border: none;
    border-top: 1px solid #ccc;
}

.links {
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
    margin-bottom: 8px;
}

.links a {
    color: #737373;
    text-decoration: none;
    margin-right: 20px;
    line-height: 1.6;
}

.links a:hover {
    text-decoration: underline;
}

.copyright {
    color: #737373;
    font-size: 11px;
    margin-top: 20px;
}

.img{
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 180px;
    margin-bottom: 5%;
}

img{
    width: 60px;
    height: 60px;
}
.meta{
    display: none;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.meta img{
    width: 70px;
    height: 20px;
}

@media screen and (max-width:900px) {
    .img{
    display: flex;
    }

    .container-profile{
        display: none;
    }

    .meta{
    display: flex;
    }

    .container{
        width: 100%;
        padding: 0px;
    }

    .container-form {
    
        max-width: 100%;
        width: 100%;
        height: 60%;
    }

    .form {
        max-width: 100%;
        width: 100%;
        height: 100%;
        padding: 0px;
        box-shadow: none;
        position: relative;
        background-color: #ffffff00;
        align-items: center;
    }

    .border{
        display: none;
    }

    .logo img {
        width: 300px;
    }

    .connect-friends {
        font-size: 1.5rem;
    }

    .form input::placeholder {
        font-size: 1rem;
    }

    .form input[type="submit"] {
        font-size: 1.2rem;
    }

    footer{
        display: none;
    }

    .create-page{
        display: none;
    }

    .connect-friends{
        display: none;
    }

.form button {
    width: 100%;
    background-color: #ffffff00;
    border: solid #1877f2 1px;
    border-radius: 50px;
    position: absolute;
    bottom: 0;
}

.form button a {
    color: #1877f2;
    text-decoration: none; /* Opcional, elimina el subrayado */
}


    .form input[type="submit"] {
    border-radius: 50px;
}
}

@media screen and (min-width:900px) {
    .container {
        max-width: 1400px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .container-profile {
        width: 40%;
        margin-left: 100px;
        transform: translateY(-50px);
    }

    .logo img {
        display: inline-block;
        margin: 0;
    }

    .connect-friends {
        text-align: left;
        margin-left: 30px;
        font-size: 27px;
    }

    .container-form {
        width: 50%;
    }

    .form {
        width: 400px;
    }
}



